@model IEnumerable<WebAPI__Marjorie_Falcone_202496.Models.Prestamo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plazo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TasaInteres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plazo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TasaInteres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPrestamo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPrestamo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPrestamo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
